body {
  font-family: Times;
}
table {
  text-align: center;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  border: 1px solid #dddddd;
}
input[type="number"] {
  width: 60px;
}

.top {
  background-color: darkseagreen;
}

.return {
  background-color: rgb(234, 203, 163);
}

.third {
  background-color: rgb(251, 202, 209);
}

.forth {
  background-color: blanchedalmond;
}
